rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
 		match /'article' {
      allow read:if true
      allow write:if true
    }
   // match /{document=**} {
    //  allow read:if true
    //  allow write:if true
    //}

  }
}